<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <script
            data-main="{{ asset('js/smrt-lib-requirejs-extras') }}"
            data-smrt-build="{{ asset('js/build.js') }}"
            data-smrt-main="{{ asset('js/mymain.js') }}"
            src="{{ asset('js/require.js') }}"
            type="text/javascript"
        ></script>
    </body>
</html>
